/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    height:80px;
    
}

#jumbotron {
    height: 500px;
}

/* main */


/* footer */


/* debug */
.debug header {
    background-color: blueviolet;
}

.debug #jumbotron {
    background-color: chartreuse;
}

.debug main {
    height: 2300px;
    background-color: crimson;
}

.debug footer {
    height: 500px;
    background-color: yellow;
}