/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1170px;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}
/* header */
header {
    height:80px;
    background-color:#255ee9 ;
    
}

#logo,
#log_in {
    width: 25%;
    float: left;
}

nav {
    width: 50%;
    float: left;
}

nav li {
    display: inline-block;
    list-style: none;
}

#jumbotron {
    height: 500px;
}

/* main */


/* footer */


/* debug */
.debug .container {
    height: 100%;
    /* background-color: teal; */
    border: 2px solid black;
}

.debug .row div,
.debug .row nav {
    height: 80px;
    background-color: thistle;
}

.debug .row nav {
    height: 80px;
    background-color: brown;
}
/* .debug header {
    background-color:#922f2f;
} */

.debug #jumbotron {
    background-color: chartreuse;
}

.debug main {
    height: 2300px;
    background-color: crimson;
}

.debug footer {
    height: 500px;
    background-color: yellow;
}